:root {
    --background-color: rgb(6,11,25);
    --border-color: rgb(255,255,255,0.1);
}

body {
    background-color: var(--background-color);
    display:flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow: overlay;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: rgb(50, 61, 97) rgb(6,11,25);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: rgb(6,11,25);
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(50, 61, 97);
    border-radius: 10px;
    border: none;
  }

* {
    box-sizing: border-box;
}

h1,h2,h3,a,p,span,center {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: rgb(154, 167, 211);
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    width: 100%;
    height: 125px;
    border-bottom: 1px solid var(--border-color);
}

.navbar {
    padding: 3rem 2rem;
    display: flex;
    gap: 1rem; 
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
}

#logo,
#links {
    flex-basis: calc(100%/3);
}

#socials,
#contact {
    flex-grow: 1;
}

#logo {
    justify-content: flex-start;
}

#logo > a > i {
    font-size: 2.5rem;
}

#links > .blog {
    color: rgb(165, 183, 244);
}

#links > .abt,
#links > .pro,
#contact > .glowButton {
    color: rgb(50, 61, 97);
}

#contact,
#links,
#socials,
#logo {
    box-shadow: inset 0 0 0px  rgb(13, 28, 74);
    transition: box-shadow .5s ease-in-out;
}

#contact:hover, #contact:active,
#links:hover, #links:active,
#socials:hover, #socials:active,
#logo:hover, #logo:active {
    box-shadow: inset 0 0 35px  rgb(13, 28, 74);
}

@keyframes in {
    100% {box-shadow: inset 0 0 50px  rgb(13, 28, 74);}
}

@keyframes out {
    100% {box-shadow: inset 0 0 0px  rgb(13, 28, 74);}
}

main {
    flex-grow: 1;
    position: relative;
}

main > article {
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    position: absolute;
    left: 0px;
    top: 0px;
}

main > article[data-status="inactive"] {
    transform:translateX(-100%)
}

main > article:first-child > .image {
    background-image: url(https://images.unsplash.com/photo-1472173148041-00294f0814a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-position: center;
}

main > article > .article {
    height: 100%;
}

main > article > .description,
main > article > .articleNav {
    border-left: 1px solid var(--border-color);
}

main > article > .description {
    flex-direction: column;
    justify-content: flex-end;
    padding: 3rem;
}

main > article > .description > p {
    color: rgb(86, 107, 169);
    font-size: 1.25rem;
    line-height: 1.5;
}

main > article > .title {
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
}

main > article > .title * {
    color: rgb(97, 116, 173);
}

main > article > .title > h2 {
    flex-basis: 50%;
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    line-height: 3rem;
    font-weight: 700;
    margin: 0px;
    text-transform: uppercase;
}

main > article > .title > a > i {
    color: rgb(97, 116, 173);
    font-size: 6rem;
}

main > article > .title > a > i:hover {
    text-shadow: 0 0 15px rgb(47, 57, 87);
}

main > article > .title,
main > article > .articleNav {
    border-top: 1px solid var(--border-color);
    display: flex;
}

main > article > .articleNav > .articleButton {
    background-color: transparent;
    flex-grow: 1;
    border: none;
    outline: none;
    color: rgb(47, 59, 94);
    font-size: 3rem;
    cursor: pointer;
    box-shadow: inset 0 0 0px  rgb(13, 28, 74);
    transition: box-shadow .5s ease-in-out;
}

main > article > .articleNav > .articleButton:hover {
    box-shadow: inset 0 0 10px  rgb(47, 59, 94);
}

main > article > .articleNav > .articleButton:nth-child(2) {
    border-left: 1px solid var(--border-color);
}

.wrap-collabsible {
    margin-bottom: 1.2rem 0;
  }
  
  input[type='checkbox'] {
    display: none;
  }
  
  .lbl-toggle {
    display: block;
  
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
  
    padding: 1rem;
  
    color: #6984d0;
    background: #202c41;
  
    cursor: pointer;
  
    border-radius: 7px;
    transition: all 0.25s ease-out;
  }
  
  .lbl-toggle:hover {
    color: #556cac;
  }
  
  .lbl-toggle::before {
    content: ' ';
    display: inline-block;
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
  
    transition: transform .2s ease-out;
  }
  
  .toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
  }
  
  .collapsible-content {
    max-height: 0px;
    overflow: overlay;
    transition: max-height .25s ease-in-out;
  }
  
  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 50vh;
  }
  
  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .collapsible-content .content-inner {
    background: #171e29;
    border-bottom: 1px solid #202c41;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 2.5rem;
    line-height: 200%;
  }

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: rgb(50, 61, 97) rgb(6,11,25);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: rgb(6,11,25);
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(50, 61, 97);
    border-radius: 10px;
    border: none;
  }