:root {
    --background-color: rgb(6,11,25);
    --border-color: rgb(255,255,255,0.1);
}

body {
    background-color: var(--background-color);
    display:flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow-y: overlay;
}

* {
    box-sizing: border-box;
}

hr {
    border: none;
    border-top: 3px double rgb(50, 61, 97);
    color: rgb(86, 107, 169);
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 100%;
}

hr:after {
    background: rgb(10, 18, 37);
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    background-color: rgb(50, 61, 97); 
    color: rgb(165, 183, 244);
    border: 1px solid rgb(255,255,255,0.1); /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: rgb(86, 107, 169);;
    color: rgb(215, 224, 255);
    padding: 12px 20px;
    border: none;
    font-family: "Rubik", sans-serif;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .5s ease-in-out;
}
  
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: rgb(165, 183, 244);
}
  
/* Add a background color and some padding around the form */
.container {
    width: 800px;
    font-family: "Rubik", sans-serif;
    border-radius: 5px;
    background-color: rgb(10, 18, 37);
    padding: 20px;
    padding-top: 5px;
    margin: 0 auto;
}

h1,h2,h3,a,p,span {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: rgb(86, 107, 169);
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    width: 100%;
    height: 125px;
    border-bottom: 1px solid var(--border-color);
}

.navbar {
    padding: 3rem 2rem;
    display: flex;
    gap: 1rem; 
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
}

#logo,
#links {
    flex-basis: calc(100%/3);
}

#socials,
#contact {
    flex-grow: 1;
}

#logo {
    justify-content: flex-start;
}

#logo > a > i {
    font-size: 2.5rem;
}

#contact > .glowButton {
    color: rgb(165, 183, 244);
}

#links > .pro,
#links > .blog,
#links > .abt {
    color: rgb(50, 61, 97);
}

#contact,
#links,
#socials,
#logo {
    box-shadow: inset 0 0 0px  rgb(13, 28, 74);
    transition: box-shadow .5s ease-in-out;
}

#contact:hover, #contact:active,
#links:hover, #links:active,
#socials:hover, #socials:active,
#logo:hover, #logo:active {
    box-shadow: inset 0 0 35px  rgb(13, 28, 74);
}

@keyframes in {
    100% {box-shadow: inset 0 0 50px  rgb(13, 28, 74);}
}

@keyframes out {
    100% {box-shadow: inset 0 0 0px  rgb(13, 28, 74);}
}

main {
    flex-grow: 1;
    position: relative;
}

main > article {
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    position: absolute;
    left: 0px;
    top: 0px;
}

main > article[data-status="inactive"] {
    transform:translateX(-100%)
}

main > article:first-child > .image {
    background-image: url(https://images.unsplash.com/photo-1472173148041-00294f0814a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-position: center;
}

main > article > .article {
    height: 100%;
}

main > article > .description,
main > article > .articleNav {
    border-left: 1px solid var(--border-color);
}

main > article > .description {
    flex-direction: column;
    justify-content: flex-end;
    padding: 3rem;
}

main > article > .description > p {
    color: rgb(86, 107, 169);
    font-size: 1.25rem;
    line-height: 1.5;
}

main > article > .title {
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
}

main > article > .title * {
    color: rgb(97, 116, 173);
}

main > article > .title > h2 {
    flex-basis: 50%;
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    line-height: 3rem;
    font-weight: 700;
    margin: 0px;
    text-transform: uppercase;
}

main > article > .title > a > i {
    color: rgb(97, 116, 173);
    font-size: 6rem;
}

main > article > .title > a > i:hover {
    text-shadow: 0 0 15px rgb(47, 57, 87);
}

main > article > .title,
main > article > .articleNav {
    border-top: 1px solid var(--border-color);
    display: flex;
}

main > article > .articleNav > .articleButton {
    background-color: transparent;
    flex-grow: 1;
    border: none;
    outline: none;
    color: rgb(47, 59, 94);
    font-size: 3rem;
    cursor: pointer;
    box-shadow: inset 0 0 0px  rgb(13, 28, 74);
    transition: box-shadow .5s ease-in-out;
}

main > article > .articleNav > .articleButton:hover {
    box-shadow: inset 0 0 10px  rgb(47, 59, 94);
}

main > article > .articleNav > .articleButton:nth-child(2) {
    border-left: 1px solid var(--border-color);
}